name: Continuous Integration

on:
  pull_request:
    branches: ['master']
  push:
    branches: ['master']
    tags: [v*]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CI: true

# Allow this job to clone the repo and create a page deployment
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build and Test
    strategy:
      matrix:
        scala: [2.13, 2.12, 3.3]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: coursier/cache-action@v6

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: sbt/setup-sbt@v1

      - name: Check formatting
        run: sbt scalafmtCheckAll scalafmtSbtCheck

      - name: Build project
        run: sbt "testScoped ${{ matrix.scala }} JVM"


  publish:
    name: Publish Artifacts
    needs: [build]
    if: github.event_name != 'pull_request' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v'))
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: sbt/setup-sbt@v1

      - uses: coursier/cache-action@v6

      - name: Publish artifacts
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        run: sbt ci-release

  docs:
    name: Update docs
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: coursier/cache-action@v6
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: sbt/setup-sbt@v1

      - name: Generate API docs
        run: |
          sbt ++3.3 docs/mdoc unidoc

      - name: Install & build
        uses: withastro/action@v3
        with:
          path: ./website
      
      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v')
        id: deployment
        uses: actions/deploy-pages@v4
